name: Metrics
on:
  schedule:
    - cron: "0 */12 * * *"
  workflow_dispatch:

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          user: samuelspineli34
          committer_branch: main

          # Aparência
          template: classic
          config_animations: yes
          config_display: large
          config_timezone: America/Sao_Paulo

          # Métricas principais
          base: header, activity, repositories
          plugin_isocalendar: yes
          plugin_isocalendar_duration: full-year

          plugin_languages: yes
          plugin_languages_limit: 6
          plugin_languages_details: percentage

          plugin_habits: yes
          plugin_habits_days: 30
